.button {
	background-color: red;
	height: 400px;
	width: 300px;
	min-height: 500px;
	border-radius: 40px;
}

.jo {
	background-position: "center";
}

.link {
	display: block;
	color: white;
	background-color: var(--color-secondary);
	height: 400px;
	width: 300px;
}
